# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

eln-cache/
elpa/
projects

history
lombok.jar
recentf
transient/
tree-sitter/

tools/
eshell/lastdir

.cache/
.dap-breakpoints
.lsp-session-v1
bookmarks
eclipse.jdt.ls/
session.*
workspace/
/.last-package-update-day
/.mc-lists.el
/org-roam.db
/projectile-bookmarks.eld
/tramp
/.org-id-locations
